/****
 * Base CSS
 */
body { background: #25B; margin: 0; font-family: Verdana, Arial, Helvetica, sans-serif }
header, footer { display: block }
header { background: #CFF; padding-top: 2px }
p { color: white; margin: 0 }
a { color: #6FF; text-decoration: none }
a:hover { color: #009 }

/****
 * Page layout CSS
 */
header p, #content p, footer p { text-align: center }
header p { font-weight: bold; color: black }
#logo { background: url('../img/bg.png') repeat-x #CFF; padding-bottom: 2px }
#content, #logo img { margin: 0 auto }
#logo img { display: block }
#content { width: 860px; height: 62px; padding: 6px 6px 6px 78px }
#content p { font-size: 12px; margin: 14px 0 }
#content .fb-like { float: right; display: inline }
footer { padding-top: 8px; padding-bottom: 4px }
footer p { font-size: 11px }
